\E-Banking\target\m2e-wtp\web-resources\META-INF\maven\bank.project\ebanking\pom.properties
\E-Banking\src\main\java\ebanking\model\dao\DBConnection.java
\E-Banking\.classpath
\E-Banking\.settings\*
\E-Banking\build\*
\E-Banking\main\*
\E-Banking\target\*
\E-Banking\.project

