\Star Bank\target\m2e-wtp\web-resources\META-INF\maven\bank.project\ebanking\pom.properties
\Star Bank\src\main\java\ebanking\model\dao\DBConnection.java
\Star Bank\.classpath
\Star Bank\.settings\*
\Star Bank\build\*
\Star Bank\main\*
\Star Bank\target\*
\Star Bank\.project
\Star Bank\src\main\resources\config.properties